*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: auto;
    background-color: #fec89a;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    background-color: #ffcdb2;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(116, 65, 11);
    flex-wrap: wrap;
}
img{
    width: 150px;
    height: 150px;
}
